.profile__info {
    display: grid;
    margin: 0;
    padding: 0;
    max-width: calc(100% - 60px - 120px - 150px - 10px);
    /* grid-template-columns: minmax(200px, 400px) 24px; */
    grid-template-columns: minmax(200px, min-content) 24px;
    grid-template-rows: auto;
    grid-gap: 16px 18px;
    align-items: center;
    flex-grow: 1;
}

@media screen and (max-width: 740px) {
    .profile__info {
        margin-top: 26px;
        grid-gap: 14px 10px;
        max-width: 100%;
    }
}