.footer {
    max-width: 880px;
    padding: 0 0 60px 0;
    margin: 66px auto 0;
    transition: .2s linear;
}

@media screen and (max-width: 880px) {
    .footer {
        margin-left: 19px;
        margin-right: 19px;
    }
}

@media screen and (max-width: 740px) {
    .footer {
        margin-top: 48px;
        padding-bottom: 36px;
    }
}