.popup__bnt {
    background-color: #000;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    padding: 0;
    border: 0;
    transition: 0.2s linear;
}
    
.popup__bnt:hover {
    cursor: pointer;
}